

@media(max-width: 768px){
  .hidden{
    display: none;
  }
}

.testimonial-group > .row {
  object-fit: contain;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-4 {
  margin: 10px;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px #ddd;
}

.col-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-4:nth-child(3n+1) { background: #c69; }
.col-4:nth-child(3n+2) { background: #9c6; }
.col-4:nth-child(3n+3) { background: #69c; }

@media(min-width: 768px){
  .hidden-large-screen{
    display: none;
  }
}

@media(max-width: 767px){
  .hidden-large-screen{
    display: block;
  }
}

#back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: fit-content;
    width: fit-content;
    background-color: rgba(93,73,73,0.9);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    padding: 10px;
}


.overlay_layer{
  z-index: 0;
}