.logo-name {
	font-family: 'Press Start 2P', cursive;
	font-size: 19px;
}

.slogan-1 {
	font-family: 'Codystar', cursive;
}

.slogan-2 {
	font-family: 'VT323', monospace;
}

.navbrand-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
