* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.nav-logo {
	margin-left: 2vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: teal;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 2px 16px;
	z-index: 1;
}

.mr-auto{
	width: 100%;
	justify-content: space-evenly;
}

.logo {
	color: rgb(231, 228, 228);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	margin-top: 5px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	width: 35%;
}

.nav-links li {
	list-style: none;
	margin-top: 1vh;
}

a.navi-links {
	color: rgb(12, 12, 12);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 16px;
}

a.nav-link{
	font-size: medium;
	font-weight: bolder;
	text-decoration: none;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 50%;
	}
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	a.nav-link{
	color: rgb(12, 12, 12);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: medium;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #5d4949;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 1;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}

	body {
		overflow-x: hidden;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
